<a class="twitter-timeline"  href="https://twitter.com/hashtag/rails" data-widget-id="918567924994068481">#rails Tweets</a>
<script>
	$(function() {
	document.addEventListener("turbolinks:load", twitterWidget)
  !function(d,s,id){
    var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
    if(!d.getElementById(id)){
    	  js=d.createElement(s);
    	  js.id=id;
    	  js.src=p+"://platform.twitter.com/widgets.js";
    	  fjs.parentNode.insertBefore(js,fjs);
    }
  }
  (document,"script","twitter-wjs");
  twttr.widgets.load();
document.addEventListener("turbolinks:load", twitterWidget)})
</script>
          