<div class="row">
  <div class="span8" style="font-size: 12px;">
    <div id="tabs">
      <ul>
      	<li><a href="#tabs-1">Cver Letter</a></li>
      	<li><a href="#tabs-2">CV</a></li>
      	<li><a href="#tabs-3">Education and experience background</a></li>
      </ul>
      <div id="tabs-1">
      	<p>Tab content. Cver Letter Cver Letter Cver Letter
      	Cver LetterCver LetterCver LetterCver LetterCver Letter
      Cver LetterCver LetterCver LetterCver Letter</p>
      </div>
      <div id="tabs-2">
      	<p>Tab content. CV</p>
      </div>
      <div id="tabs-3">
      	<p>Tab content Education and experience background</p>
      </div>
    </div>
  </div>
  <div class="span2">
    We can just add some dummy text for the other column for now. Next, we add the
jQuery UI support files. The good news is that Rails comes with almost all the files
required. It already has jQuery itself, and the jQuery UI JavaScript file. So all we
need to do is add the call to the stylesheet in the <
  </div>
</div>